<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" name="ErrorTest">
    <classes>
      <class name="Tutorial.Framework.ShopmodifiedErrorvalidations"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="SubmitSucessfullTest">
    <classes>
      <class name="Tutorial.Framework.Shopmodified"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
